global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "roblox"
    scrape_interval: 15s
    static_configs:
    - targets: ['robloxtracker:8080']

remote_write:
  - url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
    basic_auth:
      username: 12345678
      password: secret_password_from_grafana_dot_net
